.main-body {
    max-width: 480px;
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
}

mat-form-field {
    width: 100%;
    margin: auto;
}

.login-button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.forgot-password {
    margin-bottom: 20px;
}

.signup-link-container {
    text-align: center;
    margin-top: 20px;
}