<app-spinner [isLoading]="isLoading"></app-spinner>
<div class="main-body">
    <h5>Sign In</h5>
    <mat-card appearance="outlined">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" />
                        <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                            Please enter a valid email.
                        </mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" />
                    <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                        Password must be at least 6 characters long.
                    </mat-error>
                </mat-form-field>
                <div class="forgot-password">
                    <button mat-button routerLink="/forgot-password">Forgot Password</button>
                </div>

                <div class="login-button-container">
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="loginForm.invalid">Login</button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>

    <div class="signup-link-container">
        <p>Don't have an account? <a mat-button routerLink="/signup">Sign Up</a></p>
    </div>
</div>