.main-body {
    max-width: 80%;
    margin: 20px auto;
}

.action-icon:hover {
    opacity: 0.8;
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

.action-btns {
    float: right;
    margin-right: 10px;
}

.action-btns button {
    padding: 20px;
}

.exercise-list-table th:last-child,
.exercise-list-table td:last-child {
    width: 120px;
    text-align: center;
}

.action-icon {
    margin: 3px;
    color: gold;
}

.mat-simple-snackbar span {
    margin: auto;
    text-align: center;
}

mat-form-field {
    width: 100%;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.star-icon {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 100px;
    z-index: 1000000;
}

@media (max-width: 600px) {
    table {
        font-size: 12px;
    }

    th,
    td {
        display: block;
        width: 100%;
    }
}

.table-container {
    overflow-x: auto;
    width: 100%;
}

table {
    width: 100%;
}