<app-spinner [loading]="isLoading()"></app-spinner>
<div class="main-body">
    <h5>Sign Up</h5>
    <mat-card appearance="outlined">
        <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
            <mat-card-content>
                <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="name" required />
                    <mat-error *ngIf="signupForm.get('name')?.hasError('required') && signupForm.get('name')?.touched">
                        First name is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required />
                    <mat-error
                        *ngIf="signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched">
                        Email is required.
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('email')?.hasError('email') && signupForm.get('email')?.touched">
                        Please enter a valid email.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" />
                    <mat-error *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
                        <ng-container *ngIf="signupForm.get('password')?.errors?.['minlength']">
                            Password must be at least 8 characters long.
                        </ng-container>
                        <ng-container *ngIf="!signupForm.get('password')?.errors?.['minlength']">
                            <ng-container
                                *ngIf="signupForm.get('password')?.errors?.['passwordStrength']?.['requireUppercase']">
                                Password must contain at least one uppercase letter.
                            </ng-container>
                            <ng-container
                                *ngIf="signupForm.get('password')?.errors?.['passwordStrength']?.['requireLowercase'] && 
                                              !signupForm.get('password')?.errors?.['passwordStrength']?.['requireUppercase']">
                                Password must contain at least one lowercase letter.
                            </ng-container>
                            <ng-container
                                *ngIf="signupForm.get('password')?.errors?.['passwordStrength']?.['requireDigits'] &&
                                              !signupForm.get('password')?.errors?.['passwordStrength']?.['requireUppercase'] && 
                                              !signupForm.get('password')?.errors?.['passwordStrength']?.['requireLowercase']">
                                Password must contain at least one digit.
                            </ng-container>
                            <ng-container
                                *ngIf="signupForm.get('password')?.errors?.['passwordStrength']?.['requireSymbols'] &&
                                              !signupForm.get('password')?.errors?.['passwordStrength']?.['requireUppercase'] && 
                                              !signupForm.get('password')?.errors?.['passwordStrength']?.['requireLowercase'] &&
                                              !signupForm.get('password')?.errors?.['passwordStrength']?.['requireDigits']">
                                Password must contain at least one special character.
                            </ng-container>
                        </ng-container>
                    </mat-error>

                </mat-form-field>

                <div class="register-button-container">
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="signupForm.invalid">Register</button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>