<form (submit)="confirmReset()">
    <h2>Confirm Password Reset</h2>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="username" placeholder="Username" required />
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="confirmationCode"
        placeholder="Confirmation Code" required />
    <input type="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="newPassword" placeholder="New Password"
        required />
    <button type="submit">Confirm</button>
</form>