<app-spinner [loading]="isLoading()"></app-spinner>
<div class="main-body">
    <h5>Confirm Password Reset</h5>
    <mat-card appearance="outlined">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" formControlName="newPassword" />
                    <mat-error *ngIf="resetForm.get('newPassword')?.touched">
                        <ng-container *ngIf="resetForm.get('newPassword')?.hasError('minlength')">
                            Password must be at least 8 characters long.
                        </ng-container>
                        <ng-container
                            *ngIf="resetForm.get('newPassword')?.hasError('requireUppercase') && !resetForm.get('newPassword')?.hasError('minlength')">
                            Password must contain at least one uppercase letter.
                        </ng-container>
                        <ng-container
                            *ngIf="resetForm.get('newPassword')?.hasError('requireLowercase') && !resetForm.get('newPassword')?.hasError('minlength') && !resetForm.get('newPassword')?.hasError('requireUppercase')">
                            Password must contain at least one lowercase letter.
                        </ng-container>
                        <ng-container
                            *ngIf="resetForm.get('newPassword')?.hasError('requireDigits') && !resetForm.get('newPassword')?.hasError('minlength') && !resetForm.get('newPassword')?.hasError('requireUppercase') && !resetForm.get('newPassword')?.hasError('requireLowercase')">
                            Password must contain at least one digit.
                        </ng-container>
                        <ng-container
                            *ngIf="resetForm.get('newPassword')?.hasError('requireSymbols') && !resetForm.get('newPassword')?.hasError('minlength') && !resetForm.get('newPassword')?.hasError('requireUppercase') && !resetForm.get('newPassword')?.hasError('requireLowercase') && !resetForm.get('newPassword')?.hasError('requireDigits')">
                            Password must contain at least one special character.
                        </ng-container>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Confirmation Code</mat-label>
                    <input matInput formControlName="verificationCode" />
                    <mat-error
                        *ngIf="resetForm.get('verificationCode')?.invalid && resetForm.get('verificationCode')?.touched">
                        Please enter the confirmation code.
                    </mat-error>
                </mat-form-field>

                <div class="reset-button-container">
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="resetForm.invalid || isLoading">Confirm</button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>