<mat-toolbar color="primary">
    <span class="title">🗲 Progressive Overload</span>
    <button mat-button routerLink="/exercise-list" (click)="toggle('/exercise-list')"
        [class.toggled]="isToggled('/exercise-list')">
        Exercise List
    </button>

    <button mat-button routerLink="/exercise-chart" (click)="toggle('/exercise-chart')"
        [class.toggled]="isToggled('/exercise-chart')">
        Exercise Chart
    </button>
    <span class="spacer"></span>
    <app-theme-toggle></app-theme-toggle>
    <button mat-raised-button color="secondary">Sign Out</button>
</mat-toolbar>

<router-outlet></router-outlet>