<app-spinner [isLoading]="isLoading"></app-spinner>
<div class="main-body">
    <h5>Confirm User</h5>
    <mat-card appearance="outlined">
        <form [formGroup]="confirmationForm" (ngSubmit)="confirmUser()">
            <mat-card-content>
                <mat-form-field appearance="fill">
                    <mat-label>Confirmation Code</mat-label>
                    <input matInput formControlName="verificationCode" required />
                    <mat-error
                        *ngIf="confirmationForm.get('verificationCode')?.hasError('required') && confirmationForm.get('verificationCode')?.touched">
                        Confirmation Code is required.
                    </mat-error>
                </mat-form-field>

                <div class="confirm-button-container">
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="confirmationForm.invalid">Verify</button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>