<mat-toolbar color="primary">
    <span>🗲 Progressive Overload</span>
    <span class="spacer"></span>
    <button mat-raised-button color="secondary">Sign Out</button>
</mat-toolbar>
<app-spinner [isLoading]="isLoading"></app-spinner>
<div class="main-body">
    <div class="title-container">
        <h5>Exercise History</h5>
        <button mat-raised-button color="primary" (click)="openAddEditExerciseDialog()">ADD</button>
    </div>
    <mat-card appearance="outlined">
        <mat-card-content>
            <mat-form-field aria-haspopup="outline">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="i.e Full Body" #input>
            </mat-form-field>
            <div class="add-button-container">
                <button mat-raised-button color="primary" (click)="search()">SEARCH</button>
            </div>
        </mat-card-content>
    </mat-card>
    <br>
    <div [hidden]="!dataSource" class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="exercise-list-table">
            <ng-container matColumnDef="exerciseDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td mat-cell *matCellDef="let row"> {{row.exerciseDate | date:'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="exerciseName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let row">{{row.exerciseName}}</td>
            </ng-container>
            <ng-container matColumnDef="exerciseReps">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Reps</th>
                <td mat-cell *matCellDef="let row">{{row.exerciseReps}}</td>
            </ng-container>
            <ng-container matColumnDef="exerciseWeights">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Weights</th>
                <td mat-cell *matCellDef="let row">{{row.exerciseWeights}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let row">
                    <span (click)="openEditForm(row)" class="action-icon">
                        <mat-icon color="primary">edit</mat-icon>
                    </span>
                    <span (click)="deleteExercise(row.exerciseId)" class="action-icon">
                        <mat-icon color="warn">delete</mat-icon>
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </div>
</div>