<app-spinner [isLoading]="isLoading"></app-spinner>
<div *ngIf="showStar" @celebrate class="star-icon">
    ⭐️
</div>
<div class="main-body">
    <div class="title-container">
        <h5>Exercise History</h5>
        <button mat-raised-button color="primary" (click)="openAddExerciseDialog()">ADD</button>
    </div>
    <mat-card appearance="outlined">
        <form [formGroup]="searchForm" (ngSubmit)="search()">
            <mat-card-content>
                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" required>
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" required>
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="exerciseName">
                    </mat-form-field>

                </div>
                <div class="add-button-container">
                    <button mat-raised-button color="primary" type="submit">SEARCH</button>
                </div>
            </mat-card-content>
        </form>

    </mat-card>
    <br>
    <div [hidden]="!dataSource" class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="exercise-list-table">
            <ng-container matColumnDef="exerciseDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td mat-cell *matCellDef="let row"> {{row.exerciseDate | date:'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="exerciseName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let row">{{row.exerciseName}}</td>
            </ng-container>
            <ng-container matColumnDef="exerciseReps">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Reps</th>
                <td mat-cell *matCellDef="let row">{{row.exerciseReps}}</td>
            </ng-container>
            <ng-container matColumnDef="exerciseWeights">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Weights</th>
                <td mat-cell *matCellDef="let row">{{row.exerciseWeights}}</td>
            </ng-container>
            <ng-container matColumnDef="exerciseVolume">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Volume</th>
                <td mat-cell *matCellDef="let row">{{row.exerciseVolume}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let row">
                    <span (click)="openEditForm(row)" class="action-icon">
                        <mat-icon color="primary">edit</mat-icon>
                    </span>
                    <span (click)="deleteExercise(row)" class="action-icon">
                        <mat-icon color="warn">delete</mat-icon>
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="12">No data matching found</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </div>
</div>