.main-body {
    max-width: 80%;
    margin: 20px auto;
}

mat-form-field {
    width: 100%;
    margin: auto;
}

.reset-button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}