<app-spinner [isLoading]="isLoading"></app-spinner>
<div class="main-body">
    <h5>Forgot Password</h5>
    <mat-card appearance="outlined">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" />
                        <mat-error
                            *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
                            Please enter a valid email.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="reset-button-container">
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="forgotPasswordForm.invalid">Reset Password</button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>