<div mat-dialog-title>
    <h5>{{isDataArray() ? 'Add': 'Edit'}} Exercise</h5>
</div>
<app-spinner [loading]="isLoading()"></app-spinner>
<form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <input [readonly]="!isDataArray()" matInput [matDatepicker]="picker" formControlName="exerciseDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker [disabled]="!isDataArray()" #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input [readonly]="!isDataArray()" type="text" matInput formControlName="exerciseName"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let exercise of filteredExercises" [value]="exercise.exerciseDataName">
                        {{ exercise.exerciseDataName }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <br>
        <div class="row">
            <h6>Sets</h6>
            <span class="spacer"></span>
            <button mat-raised-button type="button" color="primary" (click)="addSet()">Add</button>
        </div>
        <br>
        <div *ngFor="let rep of exerciseReps.controls; let i = index" class="row">
            <mat-form-field appearance="outline">
                <mat-label>Reps</mat-label>
                <input matInput type="number" min="0" placeholder="Reps" [formControl]="getRepControl(i)">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Weight</mat-label>
                <input matInput type="number" min="0" placeholder="Weight" [formControl]="getWeightControl(i)">
            </mat-form-field>
            <button [disabled]="exerciseReps.length === 1" class="remove-button" mat-raised-button type="button"
                color="secondary" (click)="removeSet(i)">Remove</button>
        </div>
    </div>
    <div mat-dialog-actions>
        <h6 class="volume-header">Volume: <span class="volume-value"><b>{{ totalVolume}}</b></span></h6>
        <button mat-raised-button color="primary" type="submit">{{isDataArray() ? 'Save':'Update'}}</button>
        <button mat-raised-button type="button" color="secondary" [mat-dialog-close]="false">Cancel</button>
    </div>
</form>